
<p>Ask your coach anything:</p>
<div>
  <form action="/answer" data-turbo="false" class = "d-flex">
    <input class="form-control w-25" type="text" name="question">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
</div>
